/* 
цвет заголовков 212121
цвет текста 757575
цвет лого 000000
цвет акцента 2196F3
цвет белого FFFFFF
основной фон F5F5F5 
вторичній фон AFB1B8 
цвет кнопок без єффекта F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-studio-color: #000000;
  --hero-color: #ffffff;
  --footer-txt-color: #ffffff;
  --button-noeffect-color: #f5f4fa;
  --button-effect-color: #ffffff;
  --section-bgc: #f5f4fa;
  --footer-bg-color: #2f303a;
  --card-set-gap-portfolio: 30px;
  --outline-portfolio-card: #eeeeee;
  --list-gap: 30px;
  --portfolio-button-gap: 8px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--hero-color);
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img{
  display: block;
}

.title {
  margin-bottom: 50px;
}

.aftertitle {
  margin-bottom: 10px;
}

.title,
.aftertitle {
  font-weight: 700;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/* logo */

.logo{
  display: block;
}

.logo-web,
.logo-studio,
.logo-studio-footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--logo-studio-color);
}

.logo-studio-footer {
  color: var(--hero-color);
}

/* navigation  */

.header{
  border-bottom: 1px solid #ececec;
}

.nav,
.site-auth {
  font-weight: 500;
  line-height: 1.172;
}

.site-nav-link {
  color: var(--title-text-color);
}

.site-nav-link.current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  margin-bottom: -1px;
  border-radius: 2px;
}

.site-auth-link {
  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-auth-link:hover,
.site-auth-link:focus {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus{
  border-bottom: 4px solid var(--accent-color);
  margin-bottom: -1px;
  border-radius: 2px;
}

/* LOGO positioning*/

.logo{
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* positionin navigation */

.nav-positioning, .nav{
  display: flex;
  align-items: center;
}

.site-nav-list{
  display: flex;
  margin-left: 93px;
}

.site-nav-item + .site-nav-item{
  margin-left: 50px;
}

/* .site-nav-item:not(:last-child){
  margin-right: 50px;
} */

.site-nav-link{
  display:block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* positioning authorisation */

.site-auth-list{
  display:flex;
  margin-left: auto;
}

.site-auth-item + .site-auth-item{
  margin-left: 40px;
}

/* .site-auth-item:not(:last-child){
  margin-right: 40px;
} */

.site-auth-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* hero + buttons */

.section.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
}

.hero-title {
  color: var(--hero-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text-color);
  background-color: var(--button-noeffect-color);
  cursor: pointer;

  display: inline-block;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;

  border-style: none;
  border-color: none;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--button-effect-color);
}

.button.hero {
  color: var(--button-effect-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.875;

  padding: 10px 32px 10px 32px;
}

.button.hero:hover,
.button.hero:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}

/* buttons portfolio */

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.portfolio.button:hover,
.portfolio.button:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.portfolio-button-item + .portfolio-button-item{
  margin-left: var(--portfolio-button-gap);
  flex-basis: calc(100% / 5 - var(--portfolio-button-gap));
}

/* section */

.section {
  padding-bottom: 94px;
}

/* section pluses */

.section.pluses{
  padding-top: 94px;
}

.section-pluses.title {
  line-height: 1.172;
  letter-spacing: 0.03em;
}

.section-pluses-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
  flex-wrap: wrap;
}

.section-pluses-item {
  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);
}

.section-pluses-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
}

/* section wedo */

.section-wedo-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
  flex-wrap: wrap;
}

.section-wedo-item {
  flex-basis: calc(100% / 3 - var(--list-gap));
  margin-left: var(--list-gap);
}

.section-wedo {
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* section command */

.section-command-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
  flex-wrap: wrap;
}

.section-command-item {
  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.section.command {
  background-color: var(--section-bgc);
  padding-top: 94px;
}

.section-command {
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-command.aftertitle {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-command-text {
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* PORTFOLIO */

.section.buttons{
  padding-top: 94px;
}

.section-works.title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.section-works-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-align: left;
}

.section-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * (var(--card-set-gap-portfolio) + 6px) );

  cursor: pointer;
}

.section-works-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap-portfolio) );
  margin-left: var(--card-set-gap-portfolio);
  margin-bottom: var(--card-set-gap-portfolio);
  
  border: 1px solid #eeeeee;
  border-top-style: none;
}

.section-works-item:nth-last-child(-n + 3){
margin-bottom: 0;
}

.portfolio-content {
  padding: 20px 24px;
}

.section-works.aftertitle {
  margin-bottom: 4px;
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.footer-link-adress {
  color: var(--footer-txt-color);
  line-height: 1.714;
}

.footer-link{
  display: block;
  margin-bottom: 28px;
}

.footer-link-mail,
.footer-link-tel {
  color: var(--primary-text-color);
  line-height: 1.714;
}

.footer-link-adress:hover,
.footer-link-adress:focus,
.footer-link-mail:hover,
.footer-link-mail:focus,
.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--accent-color);
}
