/* 
цвет заголовков 212121
цвет текста 757575
цвет лого 000000
цвет акцента 2196F3
цвет белого FFFFFF
основной фон F5F5F5 
вторичній фон AFB1B8 
цвет кнопок без єффекта F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-studio-color: #000000;
  --hero-color: #ffffff;
  --footer-txt-color: #ffffff;
  --button-noeffect-color: #f5f4fa;
  --button-effect-color: #ffffff;
  --section-bgc: #f5f4fa;
  --footer-bg-color: #2f303a;
  --card-set-gap-portfolio: 30px;
  --outline-portfolio-card: #eeeeee;
  --list-gap: 30px;
  --portfolio-button-gap: 8px;
  --social-icon-noeffect: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--hero-color);
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.aftertitle {
  margin-bottom: 10px;
}

.title,
.aftertitle {
  font-weight: 700;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/* logo */

.logo {
  display: block;
}

.logo-web,
.logo-studio,
.logo-studio-footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--logo-studio-color);
}

.logo-studio-footer {
  color: var(--hero-color);
}

/* navigation  */

.header {
  border-bottom: 1px solid #ececec;
}

.nav,
.site-auth-list {
  font-weight: 500;
  line-height: 1.172;
}

.site-nav-link {
  color: var(--title-text-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-auth-link {
  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-auth-link:hover,
.site-auth-link:focus {
  color: var(--accent-color);
}

/* стилизація авторизааціі */

/* LOGO positioning*/

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* positionin navigation */

.nav-positioning,
.nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

/* .site-nav-item:not(:last-child){
  margin-right: 50px;
} */

.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* positioning authorisation */

.site-auth-list {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.site-auth-item + .site-auth-item {
  margin-left: 40px;
}

/* .site-auth-item:not(:last-child){
  margin-right: 40px;
} */

.site-auth-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  justify-content: center;
  align-items: center;
}

/* position auth icons */

.auth-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.site-auth-link:hover .auth-icon,
.site-auth-link:focus .auth-icon {
  fill: var(--accent-color);
}

/* hero + buttons */

.section.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  /* фоновое изображение */

  min-height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-img.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--hero-color);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text-color);
  background-color: var(--button-noeffect-color);
  cursor: pointer;

  display: inline-block;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;

  border-style: none;
  border-color: none;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--button-effect-color);
}

.button.hero {
  color: var(--button-effect-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.875;
  min-width: 200px;

  padding: 10px 32px 10px 32px;

  box-shadow: 0px 4px 4px 0px #00000026;
}

.button.hero:hover,
.button.hero:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}

/* buttons portfolio */

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.portfolio.button:hover,
.portfolio.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.portfolio-button-item + .portfolio-button-item {
  margin-left: var(--portfolio-button-gap);
  flex-basis: calc(100% / 5 - var(--portfolio-button-gap));
}

/* section */

.section {
  padding-bottom: 94px;
}

/* section pluses */

.section.pluses {
  padding-top: 94px;
}

.section-pluses-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
  flex-wrap: wrap;
}

.section-pluses-item {
  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);
}

.section-pluses.aftertitle {
  margin-top: 30px;
}

.section-pluses-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
}

/* додавання картинок */

.section-pluses-item::before {
  content: "";
  display: block;
  height: 120px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-noeffect-color);
}
.icon-antenna::before {
  background-image: url(../images/svg/pluses/antenna-1.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/pluses/clock-1.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/pluses/diagram-1.svg);
}

.icon-astronaut:before {
  background-image: url(../images/svg/pluses/astronaut-1.svg);
}

/* section wedo */

.section-wedo-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
  flex-wrap: wrap;
}

.section-wedo-item {
  flex-basis: calc(100% / 3 - var(--list-gap));
  margin-left: var(--list-gap);
}

/* section command */

.section-command-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
  flex-wrap: wrap;
}

.section-command-item {
  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);

  border-radius: 0px, 0px, 4px, 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item-text {
  background-color: var(--hero-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.section.command {
  background-color: var(--section-bgc);
  padding-top: 94px;
}

.section-command.aftertitle {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-command-text {
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* command social links */

.command-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.command-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.command-social-item + .command-social-item {
  margin-left: 10px;
}

.command-social-icon {
  fill: var(--social-icon-noeffect);
}

.command-social-link:hover,
.command-social-link:focus {
  background-color: var(--accent-color);
}

.command-social-link:hover .command-social-icon,
.command-social-link:focus .command-social-icon {
  background-color: var(--accent-color);
  fill: var(--hero-color);
}

/* section partners */

.section.partners {
  padding-top: 94px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 6);
}

.partners-item + .partners-item {
  margin-left: var(--list-gap);
}

.partners-link {
  display: block;

  border-width: 1px;
  border-style: solid;
  border-color: var(--social-icon-noeffect);
  border-radius: 4px;
  width: 170px;
  height: 92px;

  position: relative;
}

.partners-icon {
  width: 106px;
  height: 60px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: var(--social-icon-noeffect);
}

.partners-link:hover {
  border-color: var(--accent-color);
}

.partners-link:hover .partners-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* PORTFOLIO */

.section.buttons {
  padding-top: 94px;
}

.section-works.aftertitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.section-works-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-align: left;

  margin-bottom: 4px;
}

.section-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap-portfolio));

  cursor: pointer;
}

.section-works-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap-portfolio));
  margin-left: var(--card-set-gap-portfolio);
  margin-bottom: var(--card-set-gap-portfolio);
}

.portfolio-content {
  border: 1px solid #eeeeee;
  border-top-style: none;
}

.section-works-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-content {
  padding: 20px 24px;
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.footer-link-adress {
  color: var(--footer-txt-color);
  line-height: 1.714;

  display: block;
  margin-bottom: 12px;
}

.footer-link {
  display: block;
  margin-bottom: 28px;
}

.footer-link-mail,
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.714;

  display: block;
  margin-bottom: 12px;
}

/* стилізація футер соціальні */

.footer-social-title {
  color: var(--footer-txt-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16.41 / 14);

  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
}

.footer-flex-social {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  display: flex;

  justify-content: center;
  align-items: center;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

/* .footer-link-adress:hover,
.footer-link-adress:focus,
.footer-link-mail:hover,
.footer-link-mail:focus,
.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--accent-color);
} */
